# 작업 1유형

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_1_.csv')
df.head(5)

,시도명,시군구명,종량제봉투종류,종량제봉투처리방식,종량제봉투용도,종량제봉투사용대상,1L가격,1.5L가격,2L가격,2.5L가격,...,60L가격,75L가격,100L가격,120L가격,125L가격,관리부서명,관리부서전화번호,데이터기준일자,제공기관코드,제공기관명
0,경기도,안양시,규격봉투,매립용,생활쓰레기,사업장용,0,0,0,0,...,0,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
1,경기도,안양시,규격봉투,매립용,생활쓰레기,기타,0,0,0,0,...,0,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
2,경기도,안양시,규격봉투,소각용,음식물쓰레기,가정용,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
3,경기도,안양시,규격봉투,소각용,음식물쓰레기,사업장용,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
4,경기도,안양시,규격봉투,소각용,음식물쓰레기,기타,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시

## 20L가격과 5L가격이 모두 0원이 아닌 데이터만 필터를 한 후, 각 row별로 20L가격과 5L가격의 차이를 ‘차이가격’ 이라 부른다고 하자. 시도명 별 차이가격의 평균가격을 비교할때 그 값이 가장 큰 금액을 반올림하여 소숫점 이하 1자리까지 구하여라

In [9]:
result = df.loc[(df['20L가격'] != 0)&(df['5L가격'] != 0)]
result['차이가격'] = df['20L가격'] - df['5L가격']
print(round(result.groupby('시도명')['차이가격'].mean().sort_values(ascending=False).values[0],1))

619.0

/tmp/ipykernel_53052/724757057.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['차이가격'] = df['20L가격'] - df['5L가격']

## 데이터 로드

In [10]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_2_.csv')
df.head(5)

       ID  height(cm)  weight(kg)
0  user_1       173.0        67.5
1  user_2       149.5        82.5
2  user_3       143.8        64.6
3  user_4       163.1        87.2
4  user_5       159.6        77.1

## BMI는 몸무게(kg) / (키(M) * 키(M)) 로 정의 된다. 초고도 비만은 BMI 25이상 , 고도 비반은 BMI 25미만 - 23이상 , 정상은 23미만 - 18.5이상 저체중은 18.5미만으로 정의 된다. 주어진 데이터에서 초고도비만 인원 + 저체중 인원 의 숫자는?

In [14]:
print(len(df.loc[(df['weight(kg)']/(df['height(cm)']*df['height(cm)']*0.01*0.01) >= 25)|(df['weight(kg)']/(df['height(cm)']*df['height(cm)']*0.01*0.01) < 18.5)]))

8998

## 데이터 로드

In [15]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_3.csv')
df.head(5)

,지역,초등학교_전출_도내,초등학교_전출_도외,초등학교_전입_도내,초등학교_전입_도외,중학교_전출_도내,중학교_전출_도외,중학교_전입_도내,중학교_전입_도외,고등학교_전출_도내,고등학교_전출_도외,고등학교_전입_도내,고등학교_전입_도외,년도
0,종로구,221,132,255,126,63,71,104,73,203,72,166,75,2012
1,중구,295,139,203,100,66,43,58,44,156,37,104,39,2012
2,용산구,380,269,302,174,134,78,91,106,102,66,113,48,2012
3,성동구,643,344,376,221,154,103,98,82,179,37,153,41,2012
4,광진구,560,382,595,312,165,158,158,118,115,70,154,66,2012

## 순유입인원은 초중고 도내,도외 전입인원에서 초중고 도내, 도외 전출인원을 뺀값이다. 각년도별로 가장 큰 순유입인원을 가진 지역구의 순유입인원을 구하고 전체 기간의 해당 순유입인원들의 합을 구하여라***

In [57]:
df['순유입인원'] = df['초등학교_전입_도내'] + df['초등학교_전입_도외'] + df['중학교_전입_도내'] + df['중학교_전입_도외'] + df['고등학교_전입_도내'] + df['고등학교_전입_도외'] - (df['초등학교_전출_도내'] + df['초등학교_전출_도외'] + df['중학교_전출_도내'] + df['중학교_전출_도외'] + df['고등학교_전출_도내'] + df['고등학교_전출_도외'])
print(df.sort_values(['년도','순유입인원'],ascending =False).reset_index(drop= True).groupby('년도').head(1).순유입인원.sum())

13853

# 작업 2유형
## 예측 변수 price, test.csv에 대해 ID별로 price 값을 예측하여 제출, 제출 데이터 컬럼은 ID와 price 두개만 존재해야함. 평가지표는 rmse

In [76]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder 
from sklearn.model_selection import train_test_split 
from sklearn.metrics import mean_squared_error 
from sklearn.ensemble import RandomForestRegressor 
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p2_train_.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p2_test_.csv')
x = train.drop(['ID','price'],axis= 1)
y = train['price']
z = test.drop(['ID'],axis= 1)
combine = pd.concat([x,z])
combine = pd.get_dummies(combine)
x = combine[:len(x)]
z = combine[len(x):]

xtr,xte,ytr,yte = train_test_split(x,y,test_size=0.33, random_state = 23)

RFR = RandomForestRegressor(random_state = 23)
RFR.fit(xtr,ytr)
pred = RFR.predict(xte)

rmse = np.sqrt(mean_squared_error(yte,pred))
print(rmse)

pred = RFR.predict(z)
test['price'] = pred

test[['ID','price']].to_csv('fifth_exam.csv',index=False)
print(test[['ID','price']])

2771.5099136535846
         ID     price
0         0   4533.80
1         2  62908.47
2        14  17098.86
3        15  15172.70
4        18  18078.11
...     ...       ...
3291  13096  28121.89
3292  13098  24555.28
3293  13101  23985.73
3294  13109  17011.85
3295  13112  30200.71

[3296 rows x 2 columns]